{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Proj Alpha</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'admin/css/widgets.css' %}"
		/>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					{% if user.is_authenticated %}
					<li>
						<a href="{% url 'show_my_tasks' %}">My tasks</a>
					</li>
					<li>
						<a href="{% url 'list_projects' %}">My projects</a>
					</li>
					<li>
						<a href="{% url 'logout' %}">Logout</a>
					</li>
					{% else %}
					<li>
						<a href="{% url 'login' %}">Login</a>
					</li>
					<li>
						<a href="{% url 'signup' %}">Sign Up</a>
					</li>
					{% endif %}
				</ul>
			</nav>
		</header>
		{% block content %} {% endblock content %}
		<script
			type="text/javascript"
			src="{% static 'admin/js/calendar.js' %}"
		></script>
		<script
			type="text/javascript"
			src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"
		></script>
	</body>
</html>
